@import "settings";
@import "foundation";

// Or selectively include components
 @import
//   "foundation/components/accordion",
     "foundation/components/alert-boxes",
     "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
     "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
     "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
     "foundation/components/panels",
//   "foundation/components/pricing-tables",
     "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
     "foundation/components/switches";
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
.bar {
  background: $primary-color;
  width: 100%;
  margin: 0 0 4rem 0;
  h1 {
    color: $white;
    text-align: center;
  }
}
.slider-bg {
  background: transparent url('../img/slider-bg.png');
}
.card-title {
  font-size: 14px;
  text-align: center;
}
.range-slider.vertical-range {
    display: block!important;
    border: 1px solid #DDDDDD;
    margin: 1.25rem auto;
    position: relative;
    -ms-touch-action: none;
    display: inline-block;
    height: 12.5rem;
    width: 1rem;
}
.blue-handle {
  background: $blue
}
.green-handle {
  background: $green
}
.purple-handle {
  background: $purple
}
